<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f3fe8e4fa0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="shortcut icon" href= " {% static 'home/logo-nani.png' %}" type="image/x-icon">
    <title>FindYourMoon</title>
</head>

<body bgcolor="#fff">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top p-0.5">
            <a class="navbar-brand" href="/">
                <img src="{% static 'home/logo-nani.png' %}" class="logo-moon" alt="MyMonon">
            <span class="text-light logo-name">FindYourMoon &#127770;</span>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mx-5">
                    <li class="nav-item">
                        <a class="nav-link" href="upcoming">Upcoming Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="feedback">Feedback/Bug report</a>
                    </li>

                </ul>
            </div>
            
        
        </nav>
        
    </header>
   
   
    {% block welcome %}
    <main class="my-5">
        <div class="container welcome ">
            <img src="{% static 'home/logo-nani.png' %}" class="logo-moon" alt="My-Moon">
            <h1 class="text-dark text-center" title="Give your date of birth and click on moon icon">Welcome to FindYourMoon &#128293</h1>

        </div>
        {% endblock welcome %}
        {% block main %}{% endblock main %}
    </main>
    <!-- Optional JavaScript; choose one of the two! -->
  {% block downloadCanvas %}{% endblock  %}

   {% block fixed %}
  <footer id="contact" class="fixed-bottom text-center text-white">
    {% endblock fixed %}
    <!-- Grid container -->
    <h3 class="h3">Contact Me : <span class="name">UdaySK</span> </h3>
    <div class="p-2 pb-0">
      <!-- Section: Social media -->
      
      <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/Udaysk3" target="blank" role="button">
            <i class="fab fa-telegram"></i>
        </a>
       
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/uday-sk-3b40a11a7" target="blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Whatsapp -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/qr/SWJ6O2W7CU66P1"  target="blank"role="button"
          ><i class="fab fa-whatsapp"></i>
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/udaysk3/" target="blank" role="button"
          ><i class="fab fa-github"></i
        ></a>

        <!-- dev -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://dev.to/udaysk3" target="blank" role="button"
          ><i class="fab fa-dev"></i
        ></a>

        <!-- gmail -->
        <a class="btn btn-outline-light btn-floating m-1" href=mailto:burluudaysantoshkumar3@gmail.com?subject="Hello Udaysk" target="blank" role="button"
          ><i class="fab fa-google"></i
        ></a>
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center copy p-1">
      © 2022 Copyright: 
      <a class="text-white" href="">UdaySK@MoonPhases</a>
    </div>
    <!-- Copyright -->
  </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script>

    </script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>

</html>
