<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f3fe8e4fa0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="shortcut icon" href= " {% static 'home/logo-nani.png' %}" type="image/x-icon">
    
    <title>FindYourMoon</title>

</head>

<body bgcolor="#fff">
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top p-0.5">
            <a class="navbar-brand" href="/">
                <img src="{% static 'home/logo-nani.png' %}" class="logo-moon" alt="MyMonon">
                <span class="text-light text-center logo-name">FindYourMoon &#127770;</span>
                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-expanded="false" aria-controls="collapseExample">
                <span class="navbar-toggler-icon toggler"></span>
              </button>

            <div class="collapse navbar-collapse" id="mynav">
                <ul class="navbar-nav mr-auto mx-5">
                    <li class="nav-item">
                        <a class="nav-link" href="upcoming">Upcoming Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="feedback">Feedback/Bug Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Me</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container welcome">
            <img src="{% static 'home/logo-nani.png' %}" class="logo-moon" alt="My-Moon">
            <h1 class="text-dark text-center" title="Give your date of birth and click on moon icon">Welcome to FindYourMoon &#128293</h1>
        </div>
        <div class="d-block text-center">
            <form action="home" method="POST">
                {% csrf_token %}
                
                <h3 class="h3 text-muted">Your Date Of Birth : </h3>
                <div class="select">
                    <select name="day" id="day" title="set your birth day"></select>
                    <select name="month" id="month" title="set your birth month"></select>
                    <select name="year" id="year" title="set your birth year"></select>
                </div>
                <button type="submit" class="submit  btn-grad" title="click me to get your moon"></button>
                 {% if source %}
                <div class="container userspace">
                    <h3 class="h3 text-muted">Your Moon : </h3>
                    <img class="user-moon" id="img1" src="{{source}}" alt="Moon">
                </div>
                
            </form>
           
        </div>
        <div class="user-information">
            <table  id="info-table">
                <tr>
                <th>Title</th>
                <th>information</th>
            </tr>
            <tr>
                <td> <h4>Date of this Moon :  </h4></td>
                <td>  <h5> {{day}}/{{month}}/{{year}}</h5></td>
            </tr>
            <tr>
                <td> <h4>Moon Phase :  </h4></td>
                <td>  <h5> {{phase}}</h5></td>
            </tr>
            <tr>
                <td><h4>illumination : </h4></td>
                <td> <h5>{{illumination}}</h5></td>
            </tr>
            <tr>
                <td>  <h4>moon_name : </h4></td>
                <td>  <h5>{{moon_name}}</h5></td>
            </tr>
            <tr>
                <td><h4>age of the moon : </h4></td>
                <td> <h5>{{age}}</h5></td>
            </tr>
            <tr>
                <td> <h4>distance : </h4></td>
                <td><h5>{{distance}}</h5></td>
            </tr>
            <tr>
                <td><h4>distanceToSun : </h4></td>
                <td> <h5>{{distanceToSun}}</h5></td>
            </tr>
            </table>
            
            
            
             
             
             


        </div>
        <div id="downloaddiv">
            <a href="#downloadcanvas">
                <button onclick="activeCanvas()">
                    Get Your Wallpaper
                    </button>
                </a>
        </div>
    </main>
    {% endif %}
    <!-- Optional JavaScript; choose one of the two! -->
    <div id="downloadcanvas">
        <h4>Long Press and download this Image </h4>
        <canvas title="download this canvas" width="900" height="1800"  id="canvas">

           
    </div>

    <button onclick="pop()">Download</button>
    <footer id="contact" class="fixed-bottom text-center text-white">
        <!-- Grid container -->
        <h3 class="h3">Contact Me : <span class="name">UdaySK</span> </h3>
        <div class="p-2 pb-0">
          <!-- Section: Social media -->
          
          <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/Udaysk3" target="blank" role="button">
                <i class="fab fa-telegram"></i>
            </a>
           
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/uday-sk-3b40a11a7" target="blank" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Whatsapp -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/qr/SWJ6O2W7CU66P1"  target="blank"role="button"
              ><i class="fab fa-whatsapp"></i>
            </a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/udaysk3/" target="blank" role="button"
              ><i class="fab fa-github"></i
            ></a>

            <!-- dev -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://dev.to/udaysk3" target="blank" role="button"
              ><i class="fab fa-dev"></i
            ></a>

            <!-- gmail -->
            <a class="btn btn-outline-light btn-floating m-1" href=mailto:burluudaysantoshkumar3@gmail.com?subject="I_love_you" target="blank" role="button"
              ><i class="fab fa-google"></i
            ></a>
            
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center copy p-1">
          © 2020 Copyright: 
          <a class="text-white" href="home">UdaySK@MoonPhases</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src=" {% static 'home/js/app.js' %} " type="module"></script>
    <script>


        function pop()
        {
{% comment %}             
        var canvas = document.getElementById('canvas');
        var dataURL = canvas.toDataURL();
        console.log(dataURL); {% endcomment %}
        try {
            localStorage.setItem("saved-image-example", canvas.toDataURL("image/png"));
          }
          catch(err) {
            console.log("Error: " + err);
          }
      
        }


       
for (var i = 1; i <= 31; i++) {
    var select = document.getElementById("day");
    var option = document.createElement("OPTION");
    select.options.add(option);
    option.text = i;
    option.value = i;
}

var monthDict = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "Decemeber",
}
for (var i = 1; i <= 12; i++) {
    var select = document.getElementById("month");
    var option = document.createElement("OPTION");
    select.options.add(option);

    option.text = monthDict[i];
    option.value = i;
}
for (var i = 1970; i <= 2099; i++) {
    var select = document.getElementById("year");
    var option = document.createElement("OPTION");
    select.options.add(option);
    option.text = i;
    option.value = i;
}
window.onload = function() {
    // GET THE IMAGE.
    var img = new Image();
    img.src = '{{source}}';
   img.crossOrigin =  'anonymous';
    // WAIT TILL IMAGE IS LOADED.
    img.onload = function() {
        fill_canvas(img); // FILL THE CANVAS WITH THE IMAGE.
    }

    function fill_canvas(img) {
        // CREATE CANVAS CONTEXT.
        var canvas = document.getElementById('canvas');
        dpi = window.devicePixelRatio;
        var ctx = canvas.getContext('2d');
   
        ctx.fillStyle = "#000";
        {% comment %} ctx.fillRect(0, 0, 900, 900); {% endcomment %}
        ctx.imageSmoothingQuality = 'high';
        ctx.drawImage(img,255,700,385,385); // DRAW THE IMAGE TO THE CANVAS.
    }
   
    
}
    function activeCanvas()
    {
            var x = document.getElementById("downloadcanvas");
            x.style.display = 'block'
    }


{% if source %}
    document.querySelector('footer').style = 'position:relative'
    {% endif %}
    </script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>

</html>

